apiVersion: 1
groups:
    - orgId: 1
      name: Supra-node
      folder: alerts
      interval: 1m
      rules:
        - uid: my_uid_1
          title: Block Height stuck
          condition: C
          data:
            - refId: A
              relativeTimeRange:
                from: 21600
                to: 0
              datasourceUid: edhfdvk2zkb28f
              model:
                datasource:
                    type: influxdb
                    uid: edhfdvk2zkb28f
                instant: false
                intervalMs: 15000
                maxDataPoints: 2000
                query: |-
                    from(bucket: "supra-metrics")
                      |> range(start: v.timeRangeStart, stop: v.timeRangeStop)
                      |> filter(fn: (r) => r["host"] == "{{ node_name }}")
                      |> filter(fn: (r) => r["_measurement"] == "block_values")
                      |> filter(fn: (r) => r["_field"] == "block_height")
                      |> aggregateWindow(every: 2m, fn: last, createEmpty: false) // to prevent alert noises
                      |> difference(nonNegative: true)
                range: true
                refId: A
            - refId: B
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params: []
                        type: gt
                      operator:
                        type: and
                      query:
                        params:
                            - B
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: A
                intervalMs: 1000
                maxDataPoints: 43200
                reducer: mean
                refId: B
                type: reduce
            - refId: C
              datasourceUid: __expr__
              model:
                conditions:
                    - evaluator:
                        params:
                            - 0
                        type: eq
                      operator:
                        type: and
                      query:
                        params:
                            - C
                      reducer:
                        params: []
                        type: last
                      type: query
                datasource:
                    type: __expr__
                    uid: __expr__
                expression: B
                intervalMs: 1000
                maxDataPoints: 43200
                refId: C
                type: threshold
          noDataState: Alerting
          execErrState: Alerting
          for: 1m
          annotations:
          labels: {}
          isPaused: false
          notification_settings:
            receiver: Pagerduty